*{
    margin: 0;
    padding: 0;
    color: black;
}
.header{
    width: 100%;
    height: 605px;
}
.im{
    width: 100%;
    
}

.container{
    color: black;
    padding: 0 ;
    
    background-color: bisque;
    margin-left: 100px;
    margin-right:100px ;   
    
}
.se{
    padding-top: 35px;
}